* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  padding: 1rem;
  background-color: #444444;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: orange;
  font-weight: bold;
  font-size: 2rem;
}

.menu-sidebar,
.menu-side-icon {
  display: none;
}

.menu {
  display: flex;
  list-style: none;
}

.menu ul {
  padding-right: 10px;
}

.menu li {
  margin: 0 1rem;
}

.menu li a {
  font-size: 1.15rem;
  text-decoration: none;
  font-weight: bold;
  color: orange;
}

.banner {
  background-color: #9b9b9b;
  color: #fff;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-info {
  text-align: center;
}

.banner-info img {
  width: 300px;
  border-radius: 50px;
}

.hero {
  background-color: #e0e0e0;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-img img {
  width: 100%;
  border-radius: 100%;
  padding: 2rem;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

.hero-desc {
  margin-bottom: 2rem;
}

.hero-desc h3 {
  font-size: 3rem;
}

.hero-desc p {
  text-indent: 1em;
  font-size: 1.25rem;
  margin: 1rem 0;
  font-weight: normal;
}

.hero-bottom {
  bottom: 50;
}

.hero-info .hero-btn {
  display: inline-block;
  background-color: orange;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  overflow: hidden;
}

.blog-title {
  margin: 2rem 0;
  border-bottom: 2px solid orange;
}

.blog-title h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.blog-item {
  flex: 0 0 auto;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  margin: 0.5rem;
  padding: 1rem;
}

.blog-item img {
  border-radius: 10px;
  width: 100%;
}

.blog-item h4 {
  margin-top: 1rem;
}

.blog-item p {
  margin: 1rem 0;
}

.blog-item a {
  display: inline-block;
  color: #fff;
  background-color: orange;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

main div {
  padding: 20px;
}

main div p {
  margin-top: 10px;
}

main img {
  width: 100%;
  border-radius: 20px;
}

footer {
  background-color: #444444;
}

.footer-top {
  padding: 3rem;
  color: #fff;
  margin-top: 2rem;
}

.footer-top-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.footer-top-item-container {
  display: flex;
  margin: 1rem 0;
}

.footer-top-item-container .date {
  background-color: #f0f0f0;
  color: #000;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}

/* nth-child(n) เลือกคลาสตัวที่ n */
.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4 {
  margin-bottom: 1rem;
}

.footer-bottom {
  background-color: #9b9b9b;
  padding: 1rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* Navbar */
  .menu-sidebar {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #9b9b9bd5;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  }

  .menu-side-icon {
    display: flex;
    list-style-type: none;
  }
  .menu-side-icon ul {
    width: 100%;
  }

  .menu-side-icon svg {
    fill: orange;
  }

  .menu-side-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    list-style: none;
    list-style-type: none;
    width: 100%;
  }

  .menu-side-list ul {
    padding-right: 10px;
  }

  .menu-side-list li {
    width: 100%;
    margin: 0 1rem;
    padding: 10px 0px;
  }

  .menu-side-list li a {
    font-size: 1.15rem;
    text-decoration: none;
    font-weight: bold;
    color: orange;
  }

  .menu {
    display: none;
  }

  /* Hero container */
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
  }

  /* Our blog */
  .blog-container {
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    overflow: scroll;
    margin: 0 20px;
  }

  .blog-container::-webkit-scrollbar {
    display: none;
  }

  .blog-container section {
    scroll-snap-align: center;
  }

  .blog-title {
    margin: 2rem 0;
    border-bottom: 2px solid orange;
  }

  .blog-title h3 {
    padding-left: 20px;
  }

  .blog-item {
    flex: 0 0 auto;
    width: fit-content;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    margin: 0.5rem;
    padding: 1rem;
  }

  .blog-item img {
    border-radius: 10px;
    width: 100%;
  }

  .blog-item h4 {
    margin-top: 1rem;
  }

  .blog-item p {
    margin: 1rem 0;
  }

  .blog-item a {
    display: inline-block;
    color: #fff;
    background-color: orange;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
  }
}
