{{ define "global/footer.html" }}

<footer>
  <div class="footer-top">
    <div class="container">
      <div class="footer-top-container">
        <div class="footer-top-item">
          <h4>Latest Posts</h4>
          <div class="footer-top-item-container">
            <div class="date">
              DEC. <br />
              17
            </div>
            <div class="info">
              <span class="info-title">Lorem ipsum dolor sit amet.</span>
              <span class="info-desc"
                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt,
                et.</span
              >
            </div>
          </div>
          <div class="footer-top-item-container">
            <div class="date">
              DEC. <br />
              17
            </div>
            <div class="info">
              <span class="info-title">Lorem ipsum dolor sit amet.</span>
              <span class="info-desc"
                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt,
                et.</span
              >
            </div>
          </div>
          <div class="footer-top-item-container">
            <div class="date">
              DEC. <br />
              17
            </div>
            <div class="info">
              <span class="info-title">Lorem ipsum dolor sit amet.</span>
              <span class="info-desc"
                >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt,
                et.</span
              >
            </div>
          </div>
        </div>
        <div class="footer-top-item">
          <h4>About</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi
            commodi quas ex quibusdam modi eveniet, vero ipsam consequatur magni
            facilis fuga beatae. Ipsum, atque! Magnam nesciunt suscipit dicta
            labore, corporis ullam sunt error tenetur non voluptates
            voluptatibus omnis veniam? Molestiae quas dolorem explicabo
            obcaecati vero dignissimos optio, vel architecto!
          </p>
        </div>
        <div class="footer-top-item">
          <h4>Keep Connect</h4>
          <p class="social-icon"><i class="fa-brands fa-square-facebook"></i> Facebook</p>
          <p class="social-icon"><i class="fa-brands fa-square-twitter"></i> Twitter</p>
          <p class="social-icon"><i class="fa-brands fa-square-instagram"></i> Instagram</p>
          <p class="social-icon"><i class="fa-brands fa-line"></i> Line</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright 2023. Made by NickyDoo</p>
  </div>
</footer>

{{end}}
