{{ define "global/nav-bar.html" }}
<div onclick="closeSideBar()" class="overlay"></div>
<nav>
  <div class="container">
    <div class="nav-container">
      <div class="logo">
        <a href="#">Booking</a>
        <div class="search-box">
          <div class="search-icon">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg></a>
          </div>
        </div>
      </div>
      
      <div class="menu-sidebar">
        <div class="side-background">
          <ul class="menu-side-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <ul class="menu">
        <li class="list-menu"><a href="#">Home</a></li>
        <li class="list-menu"><a href="#">About Us</a></li>
        <li class="list-menu"><a href="#">Services</a></li>
        <li class="list-menu"><a href="#">Portfolio</a></li>
        <li class="list-menu"><a href="#">Contact Us</a></li>
      </ul>
      <ul class="menu-side-icon">
        <li onclick="showSideBar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
  function showSideBar() {
    const sidebar = document.querySelector(`.menu-sidebar`);
    const overlay = document.querySelector(`.overlay`);
    sidebar.classList.add('open');
    overlay.style.display = 'block'
  }

  function closeSideBar() {
    const sidebar = document.querySelector(`.menu-sidebar`);
    const overlay = document.querySelector(`.overlay`);
    sidebar.classList.remove('open');
    overlay.style.display = 'none';
  }
  
</script>

{{end}}
