{{ define "home/blog.html" }}

<section class="blog">
  <div class="container">
    <div class="blog-title">
      <h3>Our Blog</h3>
    </div>

    <div class="blog-container">
      <section class="blog-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyEHRzbFHqVhfj6K0TZEz5uRQWxmcrjjIee_iS-Hzi72z37sIpPniBZusEqhH8SU-ywYM&usqp=CAU" alt="" />
        <h4>My Blog</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam
          ducimus cupiditate numquam! Dicta quam facere sunt consequatur
          voluptas praesentium laudantium!
        </p>
        <a href="#" class="blog-btn">Learn more</a>
      </section>

      <section class="blog-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyEHRzbFHqVhfj6K0TZEz5uRQWxmcrjjIee_iS-Hzi72z37sIpPniBZusEqhH8SU-ywYM&usqp=CAU" alt="" />
        <h4>My Blog</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam
          ducimus cupiditate numquam! Dicta quam facere sunt consequatur
          voluptas praesentium laudantium!
        </p>
        <a href="#" class="blog-btn">Learn more</a>
      </section>

      <section class="blog-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyEHRzbFHqVhfj6K0TZEz5uRQWxmcrjjIee_iS-Hzi72z37sIpPniBZusEqhH8SU-ywYM&usqp=CAU" alt="" />
        <h4>My Blog</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam
          ducimus cupiditate numquam! Dicta quam facere sunt consequatur
          voluptas praesentium laudantium!
        </p>
        <a href="#" class="blog-btn">Learn more</a>
      </section>

      <section class="blog-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyEHRzbFHqVhfj6K0TZEz5uRQWxmcrjjIee_iS-Hzi72z37sIpPniBZusEqhH8SU-ywYM&usqp=CAU" alt="" />
        <h4>My Blog</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam
          ducimus cupiditate numquam! Dicta quam facere sunt consequatur
          voluptas praesentium laudantium!
        </p>
        <a href="#" class="blog-btn">Learn more</a>
      </section>
      
    </div>
  </div>
</section>
<script src="/js/main.js"></script>
{{end}}
