{{ define "home/content.html" }}

<main>
  <div>
    <h3>Welcome</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit quaerat
      dicta fugiat deserunt similique sunt enim eius accusantium, reiciendis
      nobis, at provident magnam. Tenetur a eum nihil rerum soluta, dignissimos
      odio eveniet deleniti. Provident, quis! Earum omnis nemo, itaque
      architecto possimus reiciendis, nam ut inventore aspernatur necessitatibus
      modi, error commodi!
    </p>
  </div>
  <div>
    <h3>
      <h3>Great Food</h3>
      <img
        src="https://media.istockphoto.com/id/1191080960/photo/traditional-turkish-breakfast-and-people-taking-various-food-wide-composition.jpg?s=612x612&w=0&k=20&c=PP5ejMisEwzcLWrNmJ8iPPm_u-4P6rOWHEDpBPL2n7Q="
        alt=""
      />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore esse
        animi quidem nostrum! Corporis incidunt, modi corrupti laborum ullam
        debitis minima voluptates illo obcaecati repellendus, rerum deserunt
        harum itaque! Deserunt soluta nihil corrupti sit reiciendis perferendis
        officia, earum voluptatem commodi rerum dolorem, doloribus ipsam fugit
        recusandae id repellendus! Mollitia, possimus.
      </p>
    </h3>
  </div>
  <div>
    <h3>
      <h3>How to get here</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea possimus
        accusamus quaerat fugit perspiciatis, quibusdam laborum nisi qui ab eius
        at tempore molestiae doloremque earum eaque debitis facilis cumque
        dolores inventore temporibus non? Nemo repudiandae ut ipsa tempora
        explicabo at cumque libero eveniet atque? Blanditiis impedit quam illo
        aperiam molestiae!
      </p>
    </h3>
  </div>
</main>

{{ end }}
